/*!
 * CivicLinks Profiles
 *
 * Copyright 2013 Fondazione <ahref
 */

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,700,700italic,900,200,200italic,300,300italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/*******************
SELECTION STYLING
*******************/

::selection {
 color: #fff;
 background: #c2cf00;  /* Safari */
}
::-moz-selection {
 color: #fff;
 background: #c2cf00;  /* Firefox */
}


/*************************************/

body {
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: 0;
}

.bio
{
    background-color: #00a4a7;
    width: 100%;
    margin-top: 20px;
    padding: 30px 10px 0 10px;
}

.profilebio {
    color: #fff;
    font-size: 150%;
    line-height: 150%;
    font-weight: 100;
    font-family: 'Roboto Slab', serif;
}

.bioend {
    background-color: #fff;
    bottom: 0;
    margin: 20px -10px 0 -10px;
    background-image: url('../img/greentriangle.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
}

.linktomethodpage {
    text-decoration: none;
    font-weight: 400;
    color: rgb(0,0,0);
}

.linktomethodpage:hover {
    color: rgb(0,164,167);
    text-decoration: none;
}

.title-bar {
    background-color: #00a4a7;
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px 10px 10px;
    margin-bottom: 40px;
}

.title-bar h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
}

.title-bar h2 {
    color: #fff;
    font-weight: 300;
    font-size: 26px;
}

.alert_container {
    margin-top: 20px;
    margin-bottom: -40px;
}

.avatar {
    margin-bottom: 30px;
    text-align: center;
}

.name {
    font-size: 52px;
    font-weight: 600;
    line-height: 65px;
    padding: 30px;
    margin: 0;
}

.generality {
    background-color: #f5f5f5;
    margin: 0;
}

.userpanel {
    margin: 60px 0;
}

.details {
    background-color: #f5f5f5;
    margin: 30px 0 30px 0;
    padding: 30px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.icon-edit {
    color: rgb(150,150,150);
    float: right;
    margin: 10px;
}

.icon-edit:hover {
    text-decoration: none;
    color: #00a4a7;
}

.info {
    margin-bottom: 10px;
}

.data {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 300;
}

.details i {
    color: #00a4a7;
}

.userform {
    margin-bottom: 50px;
}

.userform h3 {
    background-color: #000;
    color: #fff;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 20px;
}

form {
    margin:0;
}

.form-box {
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 0 20px 10px 20px;
}

.form-box label {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    line-height: 24px;
    font-weight: 300;
}

.form-box input {
    width: 95%;
    font-size: 15px;
    height: 30px;
    margin-top: 18px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #00a4a7;
    font-family: 'Roboto Slab', serif;
}

.form-box select {
    width: 99%;
    font-size: 15px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #00a4a7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Slab', serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 2px solid #00a4a7;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bio-form {
    padding-top: 20px;
}

.bio-textarea-container {
    border: 3px solid #00a4a7;
    background-color: #fff;
    margin-top: 30px;
    padding-top: 20px;
}

.bio-textarea-1, .bio-textarea-2, .bio-textarea-3 {
    float: left;
    height: 300px;
}

.bio-textarea-1, .bio-textarea-3 {
    width: 20%;
    overflow: hidden;
    font-family: Times;
    font-size: 90px;
    padding-top: 30px;
    height: 60px;
    text-align: center;
    color: #00a4a7;
}

.bio-textarea-2 {
    width: 58%;
    height: 280px;
    margin-top: 20px;
}

.bio-textarea-2 textarea {
    width: 100%;
    height: 80%;
    border: none;
    font-size: 16px;
    line-height: 26px;
    resize: horizontal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Slab', serif;
}

.bio-textarea-3 {
    margin-top: 200px;
}

.form-box-1 {
    min-height: 150px;
    overflow: hidden;
}

.form-box-2 {
    min-height: 260px;
    overflow: hidden;
}

.form-box-5 {
    min-height: 200px;
}
.bio-form {
    min-height: 515px;
    overflow: hidden;
}

.avatar-preview {
    margin-top: 20px;
}

.avatar-preview img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

#avatarselect {
    margin-top: 20px;
    width: 150px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: none;
    background-color: #00a4a7;
    background-image: none;
    background-repeat: repeat-x;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #00a4a7;
    background-color: white;
    border: 1px solid #00a4a7;
}

.btn-primary {
    background-color: #00a4a7;
}
.btn-primary:hover {
    background-color: white;
}

.footer {
    background-color: #000;
    color: #fff;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#photo {
  border: none;
}

footer {
    padding: 5px;
}

.save {
    margin-bottom: 80px;
}

footer p {
    font-size: 12px;
    line-height: 28px;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.btn-file {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    color: #ffffff;
    text-shadow: none;
    background-color: #00a4a7;
    background-image: none;
    background-repeat: repeat-x;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-file:hover,
.btn-file:focus,
.btn-file:active,
.btn-file.active,
.btn-file.disabled,
.btn-file[disabled]
{
    color: #00a4a7;
    background-color: white;
    border: 1px solid #00a4a7;
}

.fileupload-new {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: none;
    margin-top: 10px;
}

.choose {
    margin-top: 20px;
}

.desc {
    padding-top: 20px;
    padding-bottom: 10px;
}

.form-box input[type="text"].hint {
    color: #d3d3d3;
}

.navbar-inner {
    min-height: 31px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}

.civiclinks-logo {
    vertical-align: middle;
}

.navbar .brand {
    padding-bottom: 0px;
    padding-top: 4px;
}

#nav-main-menu .nav > li > a {
    padding: 9px 10px 9px;
    line-height: 10px;
}

#nav-main-menu .active a {
    padding-bottom: 9px !important;
    border-bottom: 4px solid rgb(9,146,140);
}

#nav-login .visible-desktop a.visible-desktop {
    margin-top: 3px;
    padding: 6px 11px;
    color: rgb(254,254,254);
    margin-right: 5px;
}

.btn-small {
    color: white;
    font-size: 12px;
    background-color: rgb(9,146,140);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    border: 1px solid rgb(9,146,140);
}

.visible-desktop .btn {
    text-shadow: none;
    font-weight: normal;
}

#nav-login .visible-desktop .btn-small:hover {
    color: rgb(60,60,60);
    background-color: rgb(230,230,230);
}

.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
    color: white;
    }

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    font-weight: normal;
    text-shadow: none;
}

#application {
    max-width: 300px;
}

#application .container {
    background-color: white;
}

.form-signin {
    background-color: white;
    padding: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-signin-heading {
    color: black;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 25px;
}

.btn {
    text-shadow: none;
    font-weight: normal;
}

.alert-error {
    color: #00a4a7;;
    background-color: white;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.form-signin input {
    border-radius: 0px 0px 0px 0px;
    border: 1px solid rgb(0,164,167);
    margin-bottom: 15px;
}

#submit {
    margin-top: 15px;
}

.civiclinks-logo-2 {
    margin-top: 4px;
    margin-bottom: 5px;
}

#pageslide {
    width: auto;
    padding: 0 20px 20px 20px;
}


/*******************
PROFILES-LOGIN-PAGE
*******************/

.profiles-login-page {
    position: relative;
    z-index: 0;
    background-color: rgb(0,164,167);
    background-image: none;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.profiles-login-page #wrapper {
    width: 300px;
    padding-top: 110px;
    margin: 0px auto;
}

.profiles-login-page .login-form {
    margin: 0 auto;
    position: relative;
    background: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 300px rgba(255,255,255,0.6), 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 300px rgba(255,255,255,0.6), 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 300px rgba(255,255,255,0.6), 0px 1px 3px rgba(0,0,0,0.5);
}

.profiles-login-page .login-form .header {
    padding: 40px 30px 30px 30px;
}

.profiles-login-page .login-form .header h2 {
    font-weight: 100;
    color: rgb(0,164,167);
    margin-bottom: 10px;
}

.profiles-login-page .login-form .content {
    padding: 0 30px 25px 30px;
    position: relative;
}

.profiles-login-page .login-form .content .input {
    padding: 10px 15px;
    background: #fff;
    border: 1px solid rgb(0,164,167);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.profiles-login-page .login-form .content .password, .profiles-login-page .login-form .content .pass-icon {
    margin-top: 25px;
}

.profiles-login-page .login-form .content .input:hover {
    background: rgb(230,230,230);
    color: rgb(60,60,60);
}

.profiles-login-page .login-form .content .input:focus {
    background: rgb(230,230,230);
    color: rgb(60,60,60);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.profiles-login-page .user-icon, .profiles-login-page .pass-icon {
    width: 46px;
    height: 47px;
    display: block;
    position: absolute;
    left: 0px;
    padding-right: 2px;
    z-index: -1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.profiles-login-page .user-icon {
    top: 0px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
    background: rgba(65,72,72,0.9) url('../img/mail.png') no-repeat center;
}

.profiles-login-page .pass-icon {
    top: 50px;
    background: rgba(65,72,72,0.9) url('../img/lock.png') no-repeat center;
}

.profiles-login-page .content input:focus + div{
    left: -46px;
}

.profiles-login-page .input,
.profiles-login-page .user-icon,
.profiles-login-page .pass-icon,
.profiles-login-page .button,
.profiles-login-page .register {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.profiles-login-page .login-form .end {
    padding: 25px 30px 25px 30px;
    overflow: auto;
    border-top: 1px solid rgb(200,200,200);
}

.profiles-login-page h4 {
    font-weight: 200;
    color: rgb(150,150,150);
}

.profiles-login-page p {
    color: rgb(100,100,100);
}

.profiles-login-page .click {
    font-weight: 800;
    color: rgb(100,100,100);
}

.profiles-login-page .click:hover, .profiles-login-page .click:focus {
    color: rgb(0,164,167);
    text-decoration: none;
}

.profiles-login-page .content .btn {
    margin-top: 20px;
    color: white;
    font-size: 12px;
    background-color: rgb(9,146,140);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    border: 1px solid rgb(9,146,140);
    text-shadow: none;
    font-weight: normal;
}

.profiles-login-page .content .btn:hover {
    color: rgb(60,60,60);
    background-color: rgb(230,230,230);
}

.profiles-login-page .ahref-link {
    margin-top: 10px;
    float: right;
    font-size: 12px;
}

.profiles-login-page .ahref-link a, .profiles-login-page .ahref-link a:hover {
    color: white;
    text-decoration: none;
}



/***************
Landscape phones and down
***************/

/**********************************************************************************************/

@media (max-width: 480px) {

    .title-bar h1 {
        font-size: 30px;
        line-height: 40px;
    }
}


/**********************************************************************************************/

#method-page .userpanel {
    font-family: 'Titillium Web', sans-serif;
    margin: 60px 0;
}

#method-page .avatar {
    margin-bottom: 30px;
}

#method-page .method {
    background-color: #f5f5f5;
    margin: 50px 0px 30px 0px;
    padding: 0px 0px 15px 0px;
}

#method-page .share {
    background-color: #f5f5f5;
    margin: 0px 0px 30px 0px;
    padding: 10px 20px 20px 20px;
}

#method-page .method h4, .share h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-right: 10px;
}

#method-page .share h4 {
    margin-bottom: 40px;
    padding-top: 5px;
}

#method-page #personal {
    text-transform: uppercase;
    background-color: rgb(0,0,0);
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-weight: 200;
    padding: 5px 20px;
    margin-bottom: 20px;
}

#method-page #personal a {
    color: rgb(255,255,255);
}

#method-page .icon-check {
    padding-top: 5px;
    padding-right: 5px;
    color: rgb(150,150,150);
    margin-left: 20px;
}

#method-page .icon-check, .icon-external-link {
    padding-right: 5px;
    color: rgb(150,150,150);
}

#method-page .icon-external-link {
    padding-top: 15px;
}

#method-page .embed {
    width: 95%;
    border: 1px solid rgb(0,164,167);
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
    resize: vertical;
    color: rgb(100,100,100);
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
}

#method-page .embed:focus {
    border: 2px solid rgb(0,164,167);
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#method-page #title {
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    color: white;
    background-color: rgb(0,164,167);
    padding: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#method-page .blockquote {
    border:18px solid rgb(0,164,167);
    background-color: #f5f5f5;
    margin: 0px 0px 30px;
    padding: 0px 40px;
}

#method-page .blockquote p {
    padding: 40px 20px;
    border-top: 18px solid #f5f5f5;
    top: -18px;
    position: relative;
    border-bottom: 18px solid #f5f5f5;
    margin: 0px 0px -36px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: black;
    font-family: 'Roboto Slab', serif;
}

#method-page .details {
    background-color: #f5f5f5;
    margin: 30px 0 80px 0;
    padding: 30px 30px 5px 0px;
}

#method-page .details p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 50px;
    font-family: 'Roboto Slab', serif;
}

#method-page .details h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(150,150,150);
    margin-left: 40px;
    font-family: 'Titillium Web', sans-serif;
}

#method-page .span11 {
    margin-bottom: 10px;
}

#method-page .mark {
    color: rgb(180,180,180);
    margin-left: 30px;
    font-size: 42px;
}

#method-page .color {
    background-color: rgb(0,164,167);
    color: white;
    font-size: 20px;
    padding: 0px 30px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

#method-page #copy {
    margin-top: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

#method-page #texttoembed {
    font-weight: 400;
    margin-top: 5px;
}

#method-page .ahrefwebsite {
    font-weight: 300;
    color: black;
}

#method-page .ahrefwebsite:hover {
    text-decoration: none;
    color: rgb(0,164,167);
}

#method-page #texttoembed a {
    text-decoration: none;
    color: black;
}

#method-page #texttoembed a:hover {
    color: rgb(0,164,167);
}


/***************
Landscape phones and down
***************/

/**********************************************************************************************/

@media (max-width: 480px) {

    #method-page #title {
        font-size: 24px;
        line-height: 32px;
    }

    #method-page .blockquote p {
        padding: 40px 10px;
        font-size: 16px;
        line-height: 24px;
    }
}

/***************
Portrait tablet to landscape and desktop
***************/

/**********************************************************************************************/

@media (min-width: 768px) and (max-width: 979px) {
    #method-page .method h4, .share h4 {
        font-size: 16px;
        line-height: 24px;
    }
}
